.popup__form {
  background-color: #ffffff;
  width: 100%;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  padding: 34px 36px 36px;
}