.element__like-btn {
  grid-row: 2/3;
  grid-column: 5/6;
  background-color: transparent;
  background-image: url(../../../image/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  outline: none;
  border: none;
  align-self: end;
  justify-self: end;
  margin-bottom: 30px;
  margin-right: 18px; 
}

.element__like-btn:hover {
  opacity: .6;
  cursor: pointer;
}

.element__like-btn_active {
  background-image: url(../../../image/like_active.svg);
}
